<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link media="all" rel="stylesheet" th:href="@{/css/reset-password.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <title>Reset Password</title>
</head>
<body>
<div class="main-container">

    <form class="login-form" th:action="@{/auth/reset-password}" method="post" th:object="${resetPasswordDto}">

        <input type="hidden" th:field="*{email}">

        <h1 class="form-title">Set New Password</h1>
        <p style="text-align: center; color: #6c757d; margin-bottom: 25px;">
            Please enter a new password for your account.
        </p>

        <div class="form-group">
            <label for="new-password" class="form-label">New Password:</label>
            <div style="position: relative">
                <input type="password"
                       id="new-password"
                       th:field="*{newPassword}"
                       class="form-input"
                       th:classappend="${#fields.hasErrors('newPassword')} ? 'input-error' : ''"
                       placeholder="At least 8 characters">

                <button type="button" class="material-symbols-outlined" onclick="togglePassword('new-password', this)">visibility</button>
            </div>
            <div class="validation-error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">
                Error message
            </div>
        </div>

        <div class="form-group">
            <label for="confirm-password" class="form-label">Confirm Password:</label>
            <div style="position: relative">
                <input type="password"
                       id="confirm-password"
                       th:field="*{confirmPassword}"
                       class="form-input"
                       th:classappend="${#fields.hasErrors('confirmPassword')} ? 'input-error' : ''"
                       placeholder="Re-type new password">

                <button type="button" class="material-symbols-outlined" onclick="togglePassword('confirm-password', this)">visibility</button>
            </div>
            <div class="validation-error" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">
                Error message
            </div>
        </div>

        <button type="submit" class="submit-button">Reset Password</button>

    </form>
</div>

<script th:src="@{/js/password-toggle.js}"></script>
</body>
</html>